<div class="col-md-12 input-group">
  <textarea id="splits" class="form-control" rows=4 readonly><%=@secret.splits%></textarea>
  <span class="input-group-btn">
    <button class="btn btn-default copy-to-clipboard" data-clipboard-target="#splits">
        <i class="glyphicon glyphicon-copy"></i>
    </button>
  </span>
</div>
